[submodule "lib/cmake-modules"]
	path = lib/cmake-modules
	url = https://github.com/AmyrAhmady/samp-cmake-modules.git
[submodule "lib/eigen"]
	path = lib/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "lib/boost"]
	path = lib/boost
	url = https://github.com/scipy/boost-headers-only.git
[submodule "lib/open.mp-sdk"]
	path = lib/open.mp-sdk
	url = https://github.com/openmultiplayer/open.mp-sdk.git
